* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.nav {
    display: flex;
    margin-left: 24px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    height: 100%;
}

.brand .logo-name {
    display: flex;
    margin-right: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
}

#colmar {
    color: black;
}

#academy {
    color: grey;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 24px;
    
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
}


.nav-links a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

main {
    background-color: rgb(223, 221, 221);
    display: flex;
    align-items: center;
}

main img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}
.main-text {
    display: flex-wrap;
    flex-direction: column;
    margin-left: 24px;
}

.main-text h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(71, 71, 71);
    font-weight: bold;
    font-weight: 700;
}

.main-text p {
    font-size: 1.7rem;
    color: rgb(71, 71, 71);
    margin-bottom: 30px;
    font-weight: bold;
    
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    color: white;
    background-color: rgb(71, 71, 71);
    padding: 15px 150px;
}

.practice-section {
    display: flex;
   
}

.information-main {
    width: 60%;
    padding: 32px 24px;  
    border-right: 1px ridge rgb(241, 241, 241);  
    
}

.information-main img {
    width: 100%;
    margin-bottom: 32px;
}

#practice-header {
    margin-bottom: 24px;
    color: rgb(71, 71, 71);
    font-weight: 800;
    font-size: 36;
    
}

#practice-description {
    margin-bottom: 40px;
    color: rgb(80, 80, 80, 1);
}

#source {
    font-size: 12px;
    margin-bottom: 32px;
}

.events {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 40%;
}

.orientation-date {
    display: flex;
    align-items: center;
    border-bottom: 1px ridge rgb(241, 241, 241);
}
.our-campus {
    display: flex;
    align-items: center;
    border-top: 1px ridge rgb(241, 241, 241);
} 
.our-guest {
    display: flex;
    align-items: center;
}
 
.our-campus img, 
.our-guest img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}

.orientation-date img {
    width: 35%;
    height: auto;
    margin-left: 16px;
    margin-bottom: 16px;
}
.events-description {
    margin-left: 30px;
}

.events-description h2 {
    margin-bottom: 8px;
    color: rgb(71, 71, 71);
}

.events-description p {
    margin-bottom: 8px;
    color: rgb(71, 71, 71);
    line-height: 1.5;
}
.events-description a {
    text-decoration: none;
}

.our-guest {
    background-color: rgb(189, 189, 189);
}

