* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.nav {
    display: flex;
    margin-left: 24px;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    height: 100%;
}

.brand .logo-name {
    display: flex;
    margin-right: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
}

#colmar {
    color: black;
}

#academy {
    color: grey;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 24px;
    
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
}


.nav-links a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

main {
    background-color: rgb(223, 221, 221);
    display: flex;
    align-items: center;
}

main img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}
.main-text {
    display: flex-wrap;
    flex-direction: column;
    margin-left: 24px;
}

.main-text h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    color: rgb(71, 71, 71);
    font-weight: bold;
    font-weight: 700;
}

.main-text p {
    font-size: 1.7rem;
    color: rgb(71, 71, 71);
    margin-bottom: 30px;
    font-weight: bold;
    
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    color: white;
    background-color: rgb(71, 71, 71);
    padding: 15px 150px;
}

.practice-section {
    display: flex;
   
}

.information-main {
    width: 60%;
    padding: 32px 24px;  
    border-right: 1px ridge rgb(225, 225, 225);  
    
}

.information-main img {
    width: 100%;
    margin-bottom: 32px;
}

#practice-header {
    margin-bottom: 24px;
    color: rgb(71, 71, 71);
    font-weight: 800;
    font-size: 36;
    
}

#practice-description {
    margin-bottom: 40px;
    color: rgb(80, 80, 80, 1);
}

#source {
    font-size: 15px;
    margin-bottom: 32px;
}

.events {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    width: 40%;
}

.orientation-date {
    display: flex;
    align-items: center;
    border-bottom: 1px ridge rgb(225, 225, 225);
}
.our-campus {
    display: flex;
    align-items: center;
    border-top: 1px ridge rgb(225, 225, 225);
} 
.our-guest {
    display: flex;
    align-items: center;
}
 
.our-campus img, 
.our-guest img {
    width: 35%;
    height: auto;
    margin: 16px 16px;
}

.orientation-date img {
    width: 35%;
    height: auto;
    margin-left: 16px;
    margin-bottom: 16px;
}
.events-description {
    margin-left: 30px;
}

.events-description h2 {
    margin-bottom: 8px;
    color: rgb(71, 71, 71);
}

.events-description p {
    margin-bottom: 8px;
    color: rgb(71, 71, 71);
    line-height: 1.5;
}
.events-description a {
    text-decoration: none;

}

.our-guest {
    background-color: rgb(225, 225, 225);
}

.learning {
    display: flex;
    align-items: center;
    flex-direction:column;
    background-color: rgb(225, 225, 225);
    padding-bottom: 32px;
}

.learning h1 {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgb(71, 71, 71);
    font-weight: 800;
    font-size: 36px;
}

.courses-pattern {
    display: flex;
    flex-wrap: wrap;
    margin: 0 72px;
    gap: 32px;
    justify-content: center;
}

.courses {
    max-width: 30%;
    height: auto;
    background-color: white;
}

.courses img {
    width: 100%;
    height: auto;
}

.description {
    margin-left: 16px;
}

.description h2 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.description h3 {
    margin-bottom: 8px;
    color: rgb(71, 71, 71);
    font-weight: 400;
    
}

.description p {
    margin-bottom: 24px;
    line-height: 1.5;
}

.exhibit {
    display: flex;

}

.exhibit-header {
    padding: 32px 0;
    color: rgb(71, 71, 71);
    font-weight: 800;
    font-size: 20px;
    justify-items: center;
}

video {
    margin-right: 24px;
    padding-bottom: 24px;
}

.reimagine-urban {
    margin-left: auto;
}

.reimagine-urban h2 {
    padding-bottom: 8px;
    color: rgb(71, 71, 71);
    font-size: x-large;
}

.reimagine-urban p {
    padding-bottom: 32px;
    color: rgb(71, 71, 71);
    font-size: large;
    line-height: 1.5;
}

.exhibit-section-left {
    width: 60%;
    margin: 0 24px;
}


.exhibit-section-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 8px;
}

.fisma {
    display: flex;
    background-color: rgb(225, 225, 225);
    align-items: center;
    padding-left: 16px;
}

.now-and-then {
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.fisma img, 
.now-and-then img {
    width: 35%;
    padding: 16px;
}

.fisma-description,
.now-and-then-description {
    padding-left: 16px; 
}

.fisma-description h2,
.now-and-then-description h2 {
    line-height: 1.5;
    color:rgb(71, 71, 71);
    padding-bottom: 8px;
}

.fisma-description p,
.now-and-then-description p {
    line-height: 1.5;
    color:rgb(71, 71, 71)
}

.colmar-academy {
    display: flex;
    border-top: 1px ridge rgb(225, 225, 225);  
}
    
.copyright {
    margin: 16px auto 40px 24px;
}

.terms-privacy {
    margin-right: 24px;
}

.terms-privacy ul {
    margin-right: 24px;
    margin-top: 16px;
    display: flex;
    gap: 20px;
    list-style: none;
}





